*
!Makefile
!doc
!doc/**
!tb
!itch
!moldudp64
!verilog-ethernet
!*.md
!*.v
!.gitignore
!.gitattribute
!.gitmodules
!vpi
!*.c
!*.h
!*.a
!inc
!gen
!inc/gen
!Makefile
!*.jpg
!itch
!moldudp64
!tcl
!*.tcl
!*.xdc
!utils
