[submodule "moldudp64"]
	path = moldudp64
	url = https://github.com/Essenceia/MoldUPD64
[submodule "itch"]
	path = itch
	url = https://github.com/Essenceia/ITCH
[submodule "verilog-ethernet"]
	path = verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet
[submodule "utils"]
	path = utils
	url = git@github.com:Essenceia/rtl_utils.git
