[submodule "moldudp64"]
	path = moldudp64
	url = https://github.com/Essenceia/MoldUPD64
[submodule "itch"]
	path = itch
	url = https://github.com/Essenceia/ITCH
[submodule "verilog-ethernet"]
	path = verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet
[submodule "utils"]
	path = utils
	url = git@github.com:Essenceia/rtl_utils.git
[submodule "ethernet"]
	path = ethernet
	url = https://github.com/essenceia/low-latency-ethernet

[submodule "tools/nasdaq_bin_file_tool"]
	path = tools/nasdaq_bin_file_tool
	url = git@github.com:Essenceia/Nasdaq_binaryfile_utils.git
[submodule "lib/ouch"]
	path = lib/ouch
	url = git@github.com:Essenceia/OUCH_5.0_C_lib.git
[submodule "lib/itch"]
	path = lib/itch
	url = git@github.com:Essenceia/TotalView_ITCH_5.0_C_lib.git
[submodule "lib/eth"]
	path = lib/eth
	url = git@github.com:Essenceia/ethernet_packet_C_lib.git
[submodule "lib/fake_server"]
	path = lib/fake_server
	url = git@github.com:Essenceia/NASDAQ_server_C_lib.git
[submodule "lib/utils"]
	path = lib/fifo
	url = git@github.com:Essenceia/utils_C_lib.git
